html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}



#cover-image{
    background-image: url('homebg.png');
    height: 618px; 
    width: 100%;
    background-size: contain;
}

#imp{
    margin: 0px 70px;
}

#navbar{
    display: flex;
   
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-weight: 700px;
    
}

#anchors{
    display: flex;
   gap: 25px;

}

#icons{
    
    justify-content: space-around;
}

#cover-content {
    margin: 50px;
    display: flex;
    gap: 150px;
}

#cover-content p{
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0px;
}

#cover-content button{
    font-size:medium;
    padding: 10px 20px;
    margin-right:20px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

#cover-content img{
    margin-left: 50px;
    height: 500px;
}

#section-2{
    display: flex;
    justify-content: space-evenly;
}

#perfect-heading-features{
    color: rgb(68, 105, 173);
    font-weight: 200;
    margin-bottom: 8px;
    margin-top: 50px;
    font-size: xx-large;
}

#perfect-heading{
    text-align: center;
}

#section3 img{
    width: 600px;
    height: 500px;
}
.features-sections{
    margin-top: 100px;
    display:flex;
    width: 25%;
}

.features-sections img{
    height: 50px;
    width: 50px;
}

.features-sub-heading{
    margin-top: 0px;
    margin-left: 24px;
    
}

.screenshot-sections{
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 80px;
    height:400px
}

.behind-text{
    position: absolute;
    z-index:1;
    right: -30px;
    top: 30%;
    transform: rotate(90deg) translateY(-10%);
    font-size: 140px;
    font-weight:lighter;
    color: #888;
    opacity: 0.5;
    
    transform-origin: center;

    user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}

.behind-text-rainy{
    position: absolute;
    z-index:1;
    right: 0px;
    top: 30%;
    transform: rotate(90deg) translateY(-10%);
    font-size: 140px;
    font-weight:lighter;
    color: #888;
    opacity: 0.5;
    
    transform-origin: center;
     user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}

.behind-text-sunny{
    position: absolute;
    z-index:1;
    left: 690px;
    top: 30%;
    transform: rotate(90deg) translateY(-10%);
    font-size: 140px;
    font-weight:lighter;
    color: #888;
    opacity: 0.5;
    
    transform-origin: center;
     user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}

#screenshot-heading{
    text-align: center;
    margin-bottom: 100px;
}

#ss-div-1{
    position:relative;
    z-index:10;
    width: 30%;
    margin-left: 300px;
    margin-right: 0px;
}
.phone-image{
    position: absolute;
    z-index: 10;
}
#ss-div-1 img{
    
    height: 400px;
}
.ss-sub-heading{
    font-size:xx-large;
}
#ss-div-2{
    
    width: 30%;
    
}

.small-image-ss{
    padding-top: 100px;
}

#ss-div-2 p{
    padding: 0px;
}

.section-heading{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}

.sub-section-heading{
    text-align: center;
    color: grey;
    font-size: medium;
}
.sub-section-heading p{
    margin: 0px;
}

.double-quotes{
    height: 30px;
    width: 30px;
}

.double-quotes-start{
    text-align: left;
}
.double-quotes-end{
    text-align: right;
    
}

.reviews-child-div{
    width: 40%;
    padding: 1px;
    
}

#reviews-parent-div p{
    margin-top: 8px;
    margin-bottom: 8px;
    
}




#download-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E61D3;
    margin-top: 50px;
}
#purple-color{
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#download-content{
    width: 500px;
    height: 180px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#download-content h2{
    margin: 0;
    padding: 0;
}
#download-content p{
    width: 300px;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-size: 16px;
}
#download-image{

    width: 400px;
    height: 250px;
}
#download-image img{
    margin-top: 38.5px;
    width: 400px;
    height: 250px;
    object-fit: contain;
}
#download-logo{
    width: 210px;
    display: flex;
    justify-content: space-between;
}
#download-logo img{
    width: 100px;
    height: 30px;
}
#download-logo img:hover{
    transform:scale(0.95);
}

footer{
    width: 100%;
    height: 150px;
    background: #434E78;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.navbar-footer{
    border-bottom: 1px solid gray;
    margin: 0px 50px;
}

#navbar-list{
    display: flex;
    gap: 10px;
}

footer h4{
    font-weight: lighter;
    opacity: 50%;
    color: white;
    text-align: center;
}



.carousel-container {
    position: relative;
    width: 100%;
    margin-top: 50px;
    height: 500px;
    /* giving child elements 3D-look */
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.carousel-stage {
    position: relative;
    
    width: 320px;
    height: 600px;
    /* Ensures children exist in the 3D space created by the container */
    transform-style: preserve-3d;
}


.carousel-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
    transition: transform 0.6s ease;
    
}


.card-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    display: block;
}



.pos-center {
    transform: translateX(0) translateZ(0) rotateY(0);
    z-index: 10;
    
    opacity: 1;
}


.pos-left-1 {
    
    transform: translateX(-240px) translateZ(-200px) rotateY(20deg);
    z-index: 5;
    
}


.pos-right-1 {
    transform: translateX(240px) translateZ(-200px) rotateY(-20deg);
    z-index: 5;
    
}


.pos-left-2 {
    transform: translateX(-450px) translateZ(-400px) rotateY(35deg);
    z-index: 1;
   
}


.pos-right-2 {
    transform: translateX(450px) translateZ(-400px) rotateY(-35deg);
    z-index: 1;
    
}



.nav-arrow {
    position:absolute;
    top: 30%;
    
    font-size: 50px;
    color: #888;
    cursor: pointer;
    z-index: 20;
    padding: 20px;
}

.nav-left {
    left: 70px;
    opacity: 0.3;
    
}

.nav-right {
    right: 70px;
    opacity: 0.3;
}





#reviews-carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.review-slide {
    display: none;
    width: 100%;
}

.review-slide.active {
    display: block;
}

/* Force center reviews content
.review-slide .reviews-parent-div,
.review-slide #reviews-parent-div {
    margin-left: auto !important;
    margin-right: auto !important;

} */

.reviews-parent-div{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

/* Center radio buttons */
#reviews-radios {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reviews-child-div:hover{
    transform:scale3d(1,1.5,1.2) translateZ(220px);
}

#cover-image-button button:hover{
    transform:scale(0.95);
}

.features-sections:hover{
    /* background-color: #4E61D3; */
    transform: translateZ(220px) scale3d(1.3,1.15,1.2);
    
}